.navbar.shrink {
  padding: 10px 0;
  background-color: #f8f9fa;
  transition: padding 0.3s, background-color 0.3s;
}

/* CSS del login */
.bg-body {
  background-image: url('../img/hoja-violeta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CSS del footer */
.custom-bg {
  background-image: url('../img/hermoso-concepto-planta-verde-macro.jpg');
  /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* CSS del titulo */
.title-bg {
  background-image: url('../img/pexels-nothing-ahead-4884760_oscuro.jpg');
  /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  align-items: center;
  margin-top: 56px;
  color: #EBE5D3;
  padding: 20px;
}

/* CSS del whatssapp */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #91AA86;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  border: none;
}

.whatsapp-btn:hover {
  color: white;
}

.whatsapp-btn img {
  width: 25px;
}


/* CSS de contactanos */
.contact-form button {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  background-color: #91AA86;
  color: #EBE5D3;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: #223326;
}



/* CSS del log in */
.log-bg {
  background-image: url('../img/hoja-rosa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cont {
  display: flex;
  align-items: center;
  width: 55%;
  height: 70%;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 250px;

}

.left-side {
  width: 60%;
  height: 430px;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 50px;
}

.left-side img {
  width: 100%;
}

.right-side {
  width: 40%;
  padding: 30px;
  height: 430px;
  background-color: #B14D65;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #EBE5D3;
  border: none;
}

.login-form button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #52213B;
  color: #EBE5D3;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cont {
    flex-direction: column;
    /* Cambia la dirección de la fila a columna */
    margin-top: 100px;
    margin-bottom: 40px;
    width: 80%;
  }

  .left-side {
    width: 100%;
    font-size: 35px;
    height: 300px;
  }

  .right-side {
    width: 100%;
  }
}

/* CSS del mensaje enviado */
.continue {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

.continue:hover {
  background-color: #223326;
}

/* Mods Adriana 02/11/2023 */
/* Estilos para el banner */
.banner {
  background-image: url('../img/bannerFondo.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  filter: contrast(150%);
}

/* Estilos para el logotipo */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

/* CSS del nav de Portafolio */
.navegador-dos-columnas {
  display: flex;
  justify-content: space-around;
  background-color: #91AA86;
  color: white;
}

.navegador-w {
  width: 70%;
  padding: 10px 0;
}

.navegador-dos-columnas a {
  color: white;
  text-decoration: none;
}


/* CSS de las imagenes del Portafolio */
.imagen {
  width: 100%;
  height: auto;
}

.columna {
  margin-bottom: 20px;
}

.ver-mas {
  text-align: center;
  margin-top: 20px;
}

.ver-mas button {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: #91AA86;
  color: #EBE5D3;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;

}

.ver-mas button:hover {
  background-color: #223326;
}

/* ESTILO PARA LA PÁGINA HOME */
/* Estilos iniciales de la sección "¿Quiénes somos?" */
.aboutContent {
  text-align: center;
  max-height: 500px;
  display: flex;
  background-color: #EBE5D3;
}

.aboutImage {
  width: 40%;
  margin-left: 10%;
  padding: 20px;
  align-self: center;
}

.aboutImage>img {
  width: 100%;
  max-height: 500px;
  margin: 5%;
}

.aboutText {
  display: block;
  width: 40%;
  margin-right: 10%;
  padding: 40px;
  height: 80%;
  align-self: center;
}

.aboutText>p {
  font-size: 16px;
  text-align: justify;
}

.aboutText>h1 {
  font-size: 36px;
}

/* CSS para el botón de más de "¿Quienes somos?" */
.aboutUs {
  width: 130px;
  padding: 10px;
  font-size: 16px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

.aboutUs:hover {
  background-color: #223326;
}

/* CSS para el apartado "Proceso General Montania" */
.genProcess {
  background-image: url('../img/fondo-madera-natural.svg');
  background-size: cover;
  background-position: center;
  max-height: 600px;
  display: block;
  text-align: center;
  padding: 30px;
}

.genProcess>h1 {
  font-size: 36px;
}

.visualProcess {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
  margin-bottom: 80px;
  place-items: center;
}

.visualProcess>img {
  height: 50px;
  width: auto;
}

/* Estilo para el circulo con número */
.circulo {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
  /* Forma circular */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 22px;
}

/* CSS para el botón de más de "Proceso General Montania" */
.contactGenProcess {
  width: 130px;
  padding: 10px;
  font-size: 16px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

.contactGenProcess:hover {
  background-color: #223326;
}

/* CSS para el apartado "¿Qué hacemos?" */
.whatWeDoText {
  display: block;
  width: 40%;
  margin-left: 10%;
  padding: 40px;
  height: 80%;
  align-self: center;
}

.whatWeDoText>p {
  font-size: 16px;
  text-align: justify;
}

.whatWeDoText>h1 {
  font-size: 36px;
}

.whatWeDoImage {
  width: 40%;
  margin-right: 10%;
  padding: 20px;
  align-self: center;
}

.whatWeDoImage>img {
  width: 100%;
  max-height: 500px;
  margin: 5%;
}

.mainServices {
  text-align: center;
  background-image: url('../img/fondo-madera-natural.svg');
  background-size: cover;
  background-position: center;
  max-height: 600px;
  padding: 30px;
}

.mainServices>h1 {
  font-size: 36px;
}

.viewMainServices {
  display: flex;
  /* width: 80%; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

.serviceSpace {
  display: block;
  width: 40%;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  height: auto;
}

.serviceSpace>div {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.serviceSpace>div>img {
  width: 100%;
  height: auto;
}

/* CSS para el botón de más de "Principales Servicios" */
.solicitarServicio {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 auto;
}

.solicitarServicio:hover {
  background-color: #223326;
}

/* Estilos para la sección "Nuestros proyectos" */
.ourProyects {
  background-color: #EBE5D3;
  /* max-height: 600px; */
  text-align: center;
  padding: 40px;
}

.ourProyects>h1 {
  font-size: 36px;
}

.smallProyectCatalogue {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.smallProyectCatalogue>img {
  width: 19%;
  height: auto;
  margin: 0.5%;
}

/* Estilo para la sección "Lo que opinan nuestros clientes" */
.someReviews {
  background-image: url('../img/fondo-madera-natural.svg');
  background-size: cover;
  background-position: center;
  display: block;
  padding: 30px;
  max-height: 600px;
}

.someReviews>h1 {
  font-size: 36px;
  text-align: center;
}

.viewReviews {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}

.clientReview {
  width: 30%;
  margin: 2%;
  background-color: #D9D9D9;
  box-shadow: -1px 3px 1px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 350px;
}

.clientReview>div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.clientReview>div>img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
}

/* PAGINA SERVICIOS */
/* CSS para el menú de servicios */
.servicesMenu {
  background-color: #EBE5D3;
  text-align: center;
  padding: 20px;
  /* max-height: 500px; */
}

.servicesView {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.servicesView>div {
  width: 20%;
  align-items: center;
}

.servicesView>div>p>a {
  text-decoration: none;
  color: inherit;
}

.servicesView>div>p>a:hover {
  text-decoration: underline;
}

.servicesView>div>img {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

/* Estilo para la sección "Proveedores" */
.ourSuppliers {
  background-color: #EBE5D3;
  text-align: center;
  padding: 40px;
  /* max-height: 600px; */
}

.viewSuppliers {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.viewSuppliers>div {
  width: 25%;
  align-items: center;
}

.viewSuppliers>div>img {
  height: 80px;
  width: auto;
  margin-bottom: 20px;
}

/* Estilo para el botón de "solicitar" */
.requestSupplier {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.requestSupplier:hover {
  background-color: #223326;
}

/* Estilo para la sección "Te gustaría ser proveedor?" */
.becomeSupplier {
  background-color: #EBE5D3;
  height: 300px;
  width: 100%;
  padding-top: 75px;
}

.bgBcSupplier {
  background-image: url('../img/fondo-madera-natural.svg');
  background-size: cover;
  background-position: center;
  height: 150px;
  text-align: center;
  padding: 20px;
}

/* ESTILO PARA PÁGINA DE UN SERVICIO ESPECIFICO */
/* Estilo para la sección de "Detalles" */
.serviceDetails {
  display: flex;
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
}

.detailsContent {
  width: 50%;
  padding: 10px;
}

.detailsContent > img {
  max-height: 320px;
  width: auto;
}

.detail {
  display: block;
  width: 90%;
  height: auto;
  margin-bottom: 10px;
}

.detail>div {
  display: flex;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.detail>div>img {
  height: 30px;
  width: 30px;
}

.detail>div>p {
  font-size: 18px;
  margin-left: 10px;
}

.detailsButtons {
  width: 35%;
  margin-left: 55%;
  margin-right: 10%;
  height: auto;
  display: flex;
}

.contactService {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  background-color: #91AA86;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.contactService:hover {
  background-color: #223326;
}

/* Estilo para la sección "¿Qué incluye?" */
table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  /* Asegura que los elementos internos respeten los bordes redondeados */
  font-size: 16px;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: justify;
  width: 33%;
  vertical-align: top;
}

.lista {
  list-style: decimal inside;
  padding-left: 20px;
}

/* Estilo para la sección "Reviews" */
.espServiceReviews {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.reviewEspService {
  width: 30%;
  padding: 10px;
  margin: 2%;
  text-align: justify;
}

.reviewEspService>div {
  width: 100%;
  display: flex;
  font-weight: bold;
}

.reviewEspService>div>img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
}

/* Estilo para sección "Colaboradores" */
.secCollabs {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  max-height: 600px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.carruselCollabs {
  display: flex;
}

.carrousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  overflow: hidden;
}

.conta{
  width: 80%;
  margin: auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Home project images */
.project-image-container {
  position: relative;
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-black and semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image-container:hover .project-overlay {
  opacity: 1;
}

.project-name {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}